form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
  }
  
  fieldset {
    border: none;
    margin-bottom: 20px;
  }
  
  legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: lightblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input:invalid{

    border-color: red;
  }